<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <link name="camera_frame">
        <visual>
            <geometry>
                <mesh filename="package://final_package/meshes/ov2710.stl" scale="0.001 0.001 0.001"/> 
            </geometry>
        </visual>

        <inertial>
            <mass value = "0.01"/>
            <origin xyz = "0 0 0" rpy = "0 0 0"/>
            <inertia ixx="0.00001" ixy = "0" ixz = "0"
                        iyy = "0.0001" iyz = "0" izz = "0.00001"/>
        </inertial>
    </link>

    <joint name="camera_joint" type="fixed">
        <parent link="base_link"/>
        <child link="camera_frame"/>
        <origin xyz="0.175 0 0.072" rpy="0 0 -1.57"/>
    </joint>

    <link name="camera_frame_optical">
    </link>

    <joint name="camera_joint_optical" type="fixed">
        <parent link="camera_frame"/>
        <child link="camera_frame_optical"/>
        <origin xyz="0 0 0" rpy="-1.57 0 1.57"/>
    </joint>

    <link name="camera_frame_optical_transform">
    </link>
  
    <joint name="camera_joint_optical_transform" type="fixed">
        <parent link="camera_frame_optical"/>
        <child link="camera_frame_optical_transform"/>
        <origin xyz="0 0 0" rpy="0 1.57 0"/>
    </joint>


<gazebo reference="camera_frame_optical">
    <sensor type="camera" name="camera1">
      <visualize>true</visualize>
      <update_rate>10.0</update_rate>
      <camera name="head">
        <horizontal_fov>2.530</horizontal_fov>
        <image>
          <width>1920</width>
          <height>1080</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.02</near>
          <far>300</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <!-- Noise is sampled independently per pixel on each frame.
               That pixel's noise value is added to each of its color
               channels, which at that point lie in the range [0,1]. -->
          <mean>0.0</mean>
          <stddev>0.02</stddev>
        </noise>
      </camera>
      <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>10.0</updateRate>
        <cameraName>camera</cameraName>
        <imageTopicName>image_raw</imageTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <frameName>camera_frame_optical_transform</frameName>
        <hackBaseline>0.07</hackBaseline>
        <distortionK1>0.0</distortionK1>
        <distortionK2>0.0</distortionK2>
        <distortionK3>0.0</distortionK3>
        <distortionT1>0.0</distortionT1>
        <distortionT2>0.0</distortionT2>
      </plugin>
    </sensor>
  </gazebo>

</robot>